:root {
  --main-color: #2196f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.game {
  background-color: #eee;
  min-height: 100vh;
}

/* ^ Levels  */

.game-levels {
  padding: 20px;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.game-levels label {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-color);
}

.game-levels select {
  flex-basis: 50%;
  padding: 5px;
  border-color: var(--main-color);
  border-radius: 7px;

}

.game-levels select:focus {
  outline-color: var(--main-color);
}

.container {
  margin: auto;
  width: 80%;
}

.name {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.message {
  background-color: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  text-align: center;
}

.message span {
  font-weight: bold;
  color: #009688;
}

.message span::before {
  content: "[ ";
}

.message span::after {
  content: " ]";
}

.start {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #009688;
  color: white;
  padding: 20px;
  cursor: pointer;
  width: 100%;
  transition: .3s;
  display: none;
}

.start:hover {
  background-color: #129f91;
}


.the-word {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: var(--main-color);
  user-select: none;
}

.input {
  margin: 15px 0;
  width: 100%;
  display: block;
  padding: 15px;
  border: 3px solid var(--main-color);
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 6px;
  caret-color: var(--main-color);
}

.input:focus {
  outline: none;
}

.upcoming-words {
  background-color: white;
  margin: 15px 0;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.upcoming-words div {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  margin: 4px;
  padding: 10px;
  border-radius: 6px;
}

.control {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
}

.control span {
  font-weight: bold;
  color: #009688;
}

.finish {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 15px;
}

.finish .good {
  color: var(--main-color);
}

.finish .bad {
  color: red;
}